_archive/functions_folder/.ipynb_checkpoints*
_archive/functions_folder/.ipynb_checkpoints/
src/functions/.ipynb_checkpoints/
juptyer/.ipynb_checkpoints/
src/functions/__pychache__/
visualization/__pychache__/
.idea/
