# *.ipynb_checkpoints

# functions/.ipynb_checkpoints*
# functions/.ipynb_checkpoints/
# src/functions/.ipynb_checkpoints/
# jupyter/.ipynb_checkpoints/
# src/functions/__pychache__/
# visualization/__pychache__/
# .idea/
# src/__pycache__/
# src/functions/__pycache__/
# src/vae/models/__pycache__/
# src/vae/models/base/__pycache__/
# src/vae/models/metric_vae/__pycache__/
# src/vae/models/seq_vae/__pycache__/
# src/vae/models/nn/__pycache__/
# src/vae/__pycache__/
# src/vae/models/vae/__pycache__/
# src/vae/pipelines/__pycache__/
# src/vae/trainers/__pycache__/
# src/vae/auxiliary_scripts/__pycache__/
# src/vae/trainers/base_trainer/__pycache__/

# visualization/__pycache__/*


# src/seq/.RData
# src/seq/.RHistory
# src/seq/.RDataTemp

# train/20231204/beta_temp_sweep.py
# .Rproj.user

# src/build/__pychache__/


*.ipynb_checkpoints

# Ignore all __pycache__ directories anywhere in the repository
**/__pycache__/

# Ignore all compiled Python files
*.py[cod]

functions/.ipynb_checkpoints*
functions/.ipynb_checkpoints/
src/functions/.ipynb_checkpoints/
jupyter/.ipynb_checkpoints/
src/functions/__pychache__/
visualization/__pychache__/
.idea/
src/__pycache__/
src/functions/__pycache__/
src/vae/models/__pycache__/
src/vae/models/base/__pycache__/
src/vae/models/metric_vae/__pycache__/
src/vae/models/seq_vae/__pycache__/
src/vae/models/nn/__pycache__/
src/vae/__pycache__/
src/vae/models/vae/__pycache__/
src/vae/pipelines/__pycache__/
src/vae/trainers/__pycache__/
src/vae/auxiliary_scripts/__pycache__/
src/vae/trainers/base_trainer/__pycache__/

visualization/__pycache__/*


src/seq/.RData
src/seq/.RHistory
src/seq/.RDataTemp

train/20231204/beta_temp_sweep.py
.Rproj.user

src/build/__pychache__/

# Ignore Python bytecode files
*.py[cod]
*$py.class

# Ignore __pycache__ directories (recursively)
**/__pycache__/