model:
  base_learning_rate: 1e-4
  target: vae.models.vae.vae_model.VAE
  config_target: src.models.legacy_model_configs.VAEConfig
  name: "VAE"
  monitor: "val/rec_loss"
#    latent_dim: 64
#    n_conv_layers: 5
#    n_out_channels: 16
#    lossconfig:
#      target: src.losses.vae_loss_basic.VAELossBasic
#      params:
#        beta: 1
#        reconstruction_loss: "mse"
  ddconfig:
    input_dim: [1, 288, 128]
    n_channels_out: 8
#      n_conv_layers: 5
#      resolution: 256
#      in_channels: 1
#      out_ch: 1
#      ch: 128
#      ch_mult: [ 1,1,2,2,4,4]  # num_down = len(ch_mult)-1
#      num_res_blocks: 2
#      attn_resolutions: [16,8]
#      dropout: 0.0

  lossconfig:
    kld_weight: 0.5
#    target: "VAELossBasic"

  dataconfig:
    target: "BasicDataset"
    num_workers: 1
    wrap: True
    root: "/media/nick/hdd021/Cole Trapnell's Lab Dropbox/Nick Lammers/Nick/morphseq/training_data/20241107_ds/images/"
#    batch_size: 12

#    train:
#      target: ldm.data.imagenet.ImageNetSRTrain
#      params:
#        size: 256
#        degradation: pil_nearest
#    validation:
#      target: ldm.data.imagenet.ImageNetSRValidation
#      params:
#        size: 256
#        degradation: pil_nearest

lightning:
  callbacks:
    image_logger:
      target: main.ImageLogger
      params:
        batch_frequency: 1000
        max_images: 8
        increase_log_steps: True

  trainer:
    benchmark: True
    accumulate_grad_batches: 2
